<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/newlistings">
        <input type="text" placeholder="enter titile" name="title"/>
        <textarea type="text" placeholder="enter description" name="description"></textarea>
        <input type="text" placeholder="enter image url" name="image"/>
        <input type="number" placeholder="enter price" name="price"/>
        <input type="text" placeholder="enter location" name="location"/>
        <input type="text" placeholder="enter country name" name="country"/>
        <button>Add</button>

    </form>
</body>
</html>